@font-face {font-family: "groovy-69018";src: url("groovy-69018.eot?jk3qnc");src: url("groovy-69018.eot?jk3qnc#iefix") format("embedded-opentype"),url("groovy-69018.ttf?jk3qnc") format("truetype"),url("groovy-69018.woff?jk3qnc") format("woff"),url("groovy-69018.svg?jk3qnc#icomoon1") format("svg");font-weight: normal;font-style: normal;}
[class^="groovy-69018"], [class*=" groovy-69018"] {font-family: "groovy-69018";speak: none;font-style: normal;font-weight: normal;font-variant: normal;text-transform: none;line-height: 1;letter-spacing: 0;-webkit-font-feature-settings: "liga";-moz-font-feature-settings: "liga=1";-moz-font-feature-settings: "liga";-ms-font-feature-settings: "liga" 1;-o-font-feature-settings: "liga";font-feature-settings: "liga";-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}
.groovy-69018-actual-size:before {content: "";}
.groovy-69018-anchor:before {content: "";}
.groovy-69018-arrow-left:before {content: "";}
.groovy-69018-arrow-right:before {content: "";}
.groovy-69018-badge:before {content: "";}
.groovy-69018-bag:before {content: "";}
.groovy-69018-ban:before {content: "";}
.groovy-69018-bar-chart:before {content: "";}
.groovy-69018-basket:before {content: "";}
.groovy-69018-basket-loaded:before {content: "";}
.groovy-69018-bell:before {content: "";}
.groovy-69018-briefcase:before {content: "";}
.groovy-69018-bubble:before {content: "";}
.groovy-69018-bubbles:before {content: "";}
.groovy-69018-bulb:before {content: "";}
.groovy-69018-calculator:before {content: "";}
.groovy-69018-calendar:before {content: "";}
.groovy-69018-call-end:before {content: "";}
.groovy-69018-call-in:before {content: "";}
.groovy-69018-call-out:before {content: "";}
.groovy-69018-check:before {content: "";}
.groovy-69018-chemestry:before {content: "";}
.groovy-69018-clock:before {content: "";}
.groovy-69018-close:before {content: "";}
.groovy-69018-compass:before {content: "";}
.groovy-69018-config:before {content: "";}
.groovy-69018-controller:before {content: "";}
.groovy-69018-credit-card:before {content: "";}
.groovy-69018-crop:before {content: "";}
.groovy-69018-cup:before {content: "";}
.groovy-69018-cup2:before {content: "";}
.groovy-69018-cursor:before {content: "";}
.groovy-69018-diamond:before {content: "";}
.groovy-69018-direction:before {content: "";}
.groovy-69018-directions:before {content: "";}
.groovy-69018-disc:before {content: "";}
.groovy-69018-dislike:before {content: "";}
.groovy-69018-document:before {content: "";}
.groovy-69018-documents:before {content: "";}
.groovy-69018-download:before {content: "";}
.groovy-69018-drawer:before {content: "";}
.groovy-69018-dribbble:before {content: "";}
.groovy-69018-dropbox:before {content: "";}
.groovy-69018-droplet:before {content: "";}
.groovy-69018-emoticon:before {content: "";}
.groovy-69018-end:before {content: "";}
.groovy-69018-energy:before {content: "";}
.groovy-69018-envelope:before {content: "";}
.groovy-69018-envelope-letter:before {content: "";}
.groovy-69018-envelope-open:before {content: "";}
.groovy-69018-eye:before {content: "";}
.groovy-69018-eyeglasses:before {content: "";}
.groovy-69018-facebook:before {content: "";}
.groovy-69018-feed:before {content: "";}
.groovy-69018-female:before {content: "";}
.groovy-69018-female-user:before {content: "";}
.groovy-69018-film:before {content: "";}
.groovy-69018-fire:before {content: "";}
.groovy-69018-flag:before {content: "";}
.groovy-69018-folder:before {content: "";}
.groovy-69018-folder2:before {content: "";}
.groovy-69018-follow:before {content: "";}
.groovy-69018-following:before {content: "";}
.groovy-69018-forward:before {content: "";}
.groovy-69018-frame:before {content: "";}
.groovy-69018-friends:before {content: "";}
.groovy-69018-full-screen:before {content: "";}
.groovy-69018-ghost:before {content: "";}
.groovy-69018-globe-1:before {content: "";}
.groovy-69018-globe-2:before {content: "";}
.groovy-69018-graduation-cap:before {content: "";}
.groovy-69018-graph:before {content: "";}
.groovy-69018-grid:before {content: "";}
.groovy-69018-handbag:before {content: "";}
.groovy-69018-headphones:before {content: "";}
.groovy-69018-headphones-microphone:before {content: "";}
.groovy-69018-heart:before {content: "";}
.groovy-69018-help:before {content: "";}
.groovy-69018-home:before {content: "";}
.groovy-69018-hourglass:before {content: "";}
.groovy-69018-info:before {content: "";}
.groovy-69018-key:before {content: "";}
.groovy-69018-layers:before {content: "";}
.groovy-69018-left:before {content: "";}
.groovy-69018-like:before {content: "";}
.groovy-69018-link:before {content: "";}
.groovy-69018-list:before {content: "";}
.groovy-69018-lock:before {content: "";}
.groovy-69018-login:before {content: "";}
.groovy-69018-logout:before {content: "";}
.groovy-69018-loop:before {content: "";}
.groovy-69018-magic-wand:before {content: "";}
.groovy-69018-magnet:before {content: "";}
.groovy-69018-magnifier:before {content: "";}
.groovy-69018-male:before {content: "";}
.groovy-69018-male-user:before {content: "";}
.groovy-69018-map:before {content: "";}
.groovy-69018-microphone:before {content: "";}
.groovy-69018-monitor:before {content: "";}
.groovy-69018-mouse:before {content: "";}
.groovy-69018-moustache:before {content: "";}
.groovy-69018-move:before {content: "";}
.groovy-69018-music-note1:before {content: "";}
.groovy-69018-music-note2:before {content: "";}
.groovy-69018-note:before {content: "";}
.groovy-69018-notebook:before {content: "";}
.groovy-69018-opened-book:before {content: "";}
.groovy-69018-paper-clip:before {content: "";}
.groovy-69018-paper-plane:before {content: "";}
.groovy-69018-pause:before {content: "";}
.groovy-69018-pencil:before {content: "";}
.groovy-69018-phone:before {content: "";}
.groovy-69018-photo:before {content: "";}
.groovy-69018-picture:before {content: "";}
.groovy-69018-pie-chart:before {content: "";}
.groovy-69018-pin:before {content: "";}
.groovy-69018-plane:before {content: "";}
.groovy-69018-play:before {content: "";}
.groovy-69018-playlist:before {content: "";}
.groovy-69018-plus:before {content: "";}
.groovy-69018-pointer:before {content: "";}
.groovy-69018-power:before {content: "";}
.groovy-69018-present:before {content: "";}
.groovy-69018-printer:before {content: "";}
.groovy-69018-puzzle:before {content: "";}
.groovy-69018-question:before {content: "";}
.groovy-69018-refresh:before {content: "";}
.groovy-69018-reload:before {content: "";}
.groovy-69018-rewind:before {content: "";}
.groovy-69018-right:before {content: "";}
.groovy-69018-rocket:before {content: "";}
.groovy-69018-settings:before {content: "";}
.groovy-69018-share1:before {content: "";}
.groovy-69018-share2:before {content: "";}
.groovy-69018-shield:before {content: "";}
.groovy-69018-shuffle:before {content: "";}
.groovy-69018-speech:before {content: "";}
.groovy-69018-speedometer:before {content: "";}
.groovy-69018-star:before {content: "";}
.groovy-69018-start:before {content: "";}
.groovy-69018-tablet:before {content: "";}
.groovy-69018-tag:before {content: "";}
.groovy-69018-target:before {content: "";}
.groovy-69018-trash:before {content: "";}
.groovy-69018-tumblr:before {content: "";}
.groovy-69018-twitter:before {content: "";}
.groovy-69018-umbrella:before {content: "";}
.groovy-69018-unfollow:before {content: "";}
.groovy-69018-unlock:before {content: "";}
.groovy-69018-upload:before {content: "";}
.groovy-69018-vector:before {content: "";}
.groovy-69018-video:before {content: "";}
.groovy-69018-volume-1:before {content: "";}
.groovy-69018-volume-2:before {content: "";}
.groovy-69018-volume-off:before {content: "";}
.groovy-69018-wallet:before {content: "";}
.groovy-69018-wrench:before {content: "";}
.groovy-69018-youtube:before {content: "";}
.groovy-69018-zoom-in:before {content: "";}
.groovy-69018-zoom-out:before {content: "";}