@font-face {font-family: "groovy-28328";src: url("groovy-28328.eot?jk3qnc");src: url("groovy-28328.eot?jk3qnc#iefix") format("embedded-opentype"),url("groovy-28328.ttf?jk3qnc") format("truetype"),url("groovy-28328.woff?jk3qnc") format("woff"),url("groovy-28328.svg?jk3qnc#icomoon1") format("svg");font-weight: normal;font-style: normal;}
[class^="groovy-28328"], [class*=" groovy-28328"] {font-family: "groovy-28328";speak: none;font-style: normal;font-weight: normal;font-variant: normal;text-transform: none;line-height: 1;letter-spacing: 0;-webkit-font-feature-settings: "liga";-moz-font-feature-settings: "liga=1";-moz-font-feature-settings: "liga";-ms-font-feature-settings: "liga" 1;-o-font-feature-settings: "liga";font-feature-settings: "liga";-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;}
.groovy-28328-horn:before {content: "";}
.groovy-28328-Add:before {content: "";}
.groovy-28328-Anchor:before {content: "";}
.groovy-28328-Attach:before {content: "";}
.groovy-28328-Award:before {content: "";}
.groovy-28328-Bin:before {content: "";}
.groovy-28328-Bluetooth:before {content: "";}
.groovy-28328-Book:before {content: "";}
.groovy-28328-Calendar:before {content: "";}
.groovy-28328-Cancelmark:before {content: "";}
.groovy-28328-Card:before {content: "";}
.groovy-28328-Card-add:before {content: "";}
.groovy-28328-Cart:before {content: "";}
.groovy-28328-CD:before {content: "";}
.groovy-28328-Chat:before {content: "";}
.groovy-28328-Check:before {content: "";}
.groovy-28328-Checklist:before {content: "";}
.groovy-28328-Checkmark:before {content: "";}
.groovy-28328-Clock:before {content: "";}
.groovy-28328-Cloud:before {content: "";}
.groovy-28328-Coins:before {content: "";}
.groovy-28328-Deliver:before {content: "";}
.groovy-28328-Delivery:before {content: "";}
.groovy-28328-Dialpad:before {content: "";}
.groovy-28328-Diamond:before {content: "";}
.groovy-28328-Display:before {content: "";}
.groovy-28328-Divide:before {content: "";}
.groovy-28328-Dollar:before {content: "";}
.groovy-28328-Earth:before {content: "";}
.groovy-28328-Empty-cart:before {content: "";}
.groovy-28328-Empty-folder:before {content: "";}
.groovy-28328-Equal:before {content: "";}
.groovy-28328-Equalizer:before {content: "";}
.groovy-28328-Fingerprint:before {content: "";}
.groovy-28328-Flag:before {content: "";}
.groovy-28328-Flower:before {content: "";}
.groovy-28328-Folder:before {content: "";}
.groovy-28328-Full-screen:before {content: "";}
.groovy-28328-Glasses:before {content: "";}
.groovy-28328-Heart:before {content: "";}
.groovy-28328-Home:before {content: "";}
.groovy-28328-ID:before {content: "";}
.groovy-28328-Laptop:before {content: "";}
.groovy-28328-Left:before {content: "";}
.groovy-28328-Light-bulb:before {content: "";}
.groovy-28328-Link:before {content: "";}
.groovy-28328-List:before {content: "";}
.groovy-28328-Lock:before {content: "";}
.groovy-28328-Loop:before {content: "";}
.groovy-28328-Mac:before {content: "";}
.groovy-28328-Mail:before {content: "";}
.groovy-28328-Man:before {content: "";}
.groovy-28328-Map:before {content: "";}
.groovy-28328-Media:before {content: "";}
.groovy-28328-Menu:before {content: "";}
.groovy-28328-Mic:before {content: "";}
.groovy-28328-Mobile:before {content: "";}
.groovy-28328-Multiply:before {content: "";}
.groovy-28328-Music:before {content: "";}
.groovy-28328-Note:before {content: "";}
.groovy-28328-OFF:before {content: "";}
.groovy-28328-ON:before {content: "";}
.groovy-28328-Open:before {content: "";}
.groovy-28328-Open-Mail:before {content: "";}
.groovy-28328-OS:before {content: "";}
.groovy-28328-Pencil:before {content: "";}
.groovy-28328-Phone:before {content: "";}
.groovy-28328-Photo:before {content: "";}
.groovy-28328-Picture:before {content: "";}
.groovy-28328-Pin:before {content: "";}
.groovy-28328-Play:before {content: "";}
.groovy-28328-Potion:before {content: "";}
.groovy-28328-Printer:before {content: "";}
.groovy-28328-Radio:before {content: "";}
.groovy-28328-Rain:before {content: "";}
.groovy-28328-Right:before {content: "";}
.groovy-28328-Scissors:before {content: "";}
.groovy-28328-Scope:before {content: "";}
.groovy-28328-Send:before {content: "";}
.groovy-28328-Servers:before {content: "";}
.groovy-28328-Settings:before {content: "";}
.groovy-28328-Shut-down:before {content: "";}
.groovy-28328-Signal:before {content: "";}
.groovy-28328-Star:before {content: "";}
.groovy-28328-Station:before {content: "";}
.groovy-28328-Substract:before {content: "";}
.groovy-28328-Sun:before {content: "";}
.groovy-28328-Tablet:before {content: "";}
.groovy-28328-Tag:before {content: "";}
.groovy-28328-Target:before {content: "";}
.groovy-28328-Thumbs:before {content: "";}
.groovy-28328-Thunder:before {content: "";}
.groovy-28328-Timer:before {content: "";}
.groovy-28328-Unlock:before {content: "";}
.groovy-28328-Up:before {content: "";}
.groovy-28328-Upload:before {content: "";}
.groovy-28328-Watch:before {content: "";}
.groovy-28328-Web:before {content: "";}
.groovy-28328-WIfi:before {content: "";}
.groovy-28328-Window:before {content: "";}
.groovy-28328-Women:before {content: "";}